# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.PoeSniper.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../:\PoeSniper\.idea\.idea.PoeSniper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
